*.key
*.key.pub
*.pem
*.p12
*.pfx
*.log
*.tmp
*.bak
*.tsbuildinfo
.DS_Store
Thumbs.db
Desktop.ini
.core-build/
.support-build/
.tauri/
.vs/
.vscode/
.idea/
.env
.env.*
!.env.example
build/
node_modules/
/release/
src-tauri/target/
